* {
  box-sizing: border-box;
}
div {
  display: block;
}

.App {
  font-size: 1.6em;
}
nav {
  text-align: right;
  font-weight: bolder;
  color: rgb(11, 136, 245);
  word-spacing: 50px;
  padding: 10px;
  border: 2px solid #0b35208f;
  background :linear-gradient(to right, rgba(46, 46, 94, 0.185), rgba(17, 17, 134, 0.966));
  margin-bottom: -1px;
  line-height: 20px;
}

button:hover, button:active {
  background-color: rgba(241, 245, 0, 0.801);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





