div {
  display: block;
}
main {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #AAA;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;  
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.App {
  font-size: 1.6em;
  
}
nav {
  text-align: right;
  font-weight: bolder;
  color: rgb(11, 136, 245);
  word-spacing: 50px;
  padding: 10px;
  border: 2px solid #0b35208f;
  border-radius: 20px;
  background :linear-gradient(to right, rgba(46, 46, 94, 0.185), rgba(59, 80, 1, 0.966));
  margin-bottom: -1px;
  line-height: 20px;
}

button:hover, button:active {
  background-color: rgba(241, 245, 0, 0.801);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





