* {
  box-sizing: border-box;
}
div {
  display: block;
}
.App {
  text-align: center;
  font-size: 1.5em;
  
  
}
nav {
  background: #7b7f807a;
  padding: 10px;
  border: 1px solid #19030a;
  border-radius: 20px;
  position: relative;
  margin-bottom: -1px;
  line-height: 20px;
}
.App-header {
  background-color: rgba(65, 2, 2, 0.767);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


