* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family:'Courier New', Courier, monospace;
  background-image: url("./Images/6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  text-align: center;
}
