* { box-sizing: border-box }
body {
  font-family:'Courier New', Courier, monospace;
  background-image: url("./Images/4.jpg");
  background-size: 100%;
  text-align: center;
}
textarea {
  display: block;
  width: 100%;
  height: 10em;
}