* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  font-family: 'Quicksand', sans-serif;
  background-image: url("./Images/6.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
}
